.line{
    background-color: orange;
    text-align: center;
    color: black;
    font-size: 140%;
}

.cont{
    width: 600px;
    height: 450px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.news{
    text-shadow: black 1px 0 100px;
}

.line1{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
    text-align: center;
    color: black;
    font-size: 140%;
}

.lineReg{
    background-color: orange;
    text-align: center;
    color: black;
}

.eee{
    text-align: center;
    color: white;
}

.contei{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    border:1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
  }

.Logo{
    width:30%;  
    margin-left: 50px; 
}

.izmena{
    position: absolute;
    right: 15.4%;
}

.contei1{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    border:1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.ss{
    margin-top: 3%;
}

.gop{
    margin: 1% 20% 0 20%;
}

.nik{
    margin: 1% 35% 0 40.5%;
}

.aaa{
    margin-top: 1%;
}
.contei2{
    margin-left: 40%;
    margin-top: 8%;
}

.ft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ff{
    margin-top: 15px;
}

.picc{
    float: left;
    width: 700px;
}